In [20]:
import pandas as pd

df = pd.read_csv("glassdoor_jobs.csv")

# Parse Salary
# Company name text only
# Split location
# Parse job description (Python, React, etc)

### Parsing Salary

In [21]:
# Removed -1 from salary estimate
df = df[df["Salary Estimate"] != "-1"]

In [22]:
# Removing text from salary column
salary = df["Salary Estimate"].apply(lambda x: x.split("(")[0])
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [23]:
salary.head(50)

0                               $53K-$91K
1                              $63K-$112K
2                               $80K-$90K
3                               $56K-$97K
4                              $86K-$143K
5                              $71K-$119K
6                               $54K-$93K
7                              $86K-$142K
8                               $38K-$84K
9                             $120K-$160K
10                            $126K-$201K
11                             $64K-$106K
12                            $106K-$172K
13                              $46K-$85K
14                             $83K-$144K
15                            $102K-$190K
16                             $67K-$137K
17                            $118K-$189K
18                            $110K-$175K
19                             $64K-$111K
20                             $81K-$130K
21                             $73K-$119K
22                             $86K-$139K
23                             $63K-$105K
25                            $109K-$177K
26                             $63K-$110K
27                             $75K-$124K
28                              $34K-$61K
29                             $63K-$105K
30                              $80K-$90K
31                              $56K-$97K
32                             $72K-$120K
33                             $86K-$143K
34                             $93K-$149K
35                             $85K-$140K
36                             $77K-$135K
37                             $82K-$132K
38                             $83K-$137K
39                            $115K-$180K
40                             $74K-$138K
41                             $64K-$112K
43                             $68K-$129K
44                            $110K-$175K
45                             $52K-$113K
46                             $110K-$150K
48    Employer Provided Salary:$150K-$160K
49                            $158K-$211K
50                              $20K-$39K
51                             $56K-$117K
52                              $63K-$99K
Name: Salary Estimate, dtype: object

In [24]:
#Removing K and Dollar from Salary
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [25]:
#salary parsing 

df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [26]:
#Removing per hour and employer provided salary from 
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [27]:
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int (x.split('-')[1]))
# Calculate 'avg_salary'
df['avg_salary'] = (df['min_salary'] + df['max_salary']) / 2

In [28]:
#Extracting text from Company name 
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

In [29]:
#Location field 
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_state.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 GA               6
 KY               6
 DE               6
 MI               6
 CT               5
 IA               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 ID               2
 MN               2
 Los Angeles      1
 RI               1
 SC               1
Name: job_state, dtype: int64

In [30]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [31]:
#age of company 
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2020 - x)

### Parsing Job Description

In [32]:
#Parsing job description (python, etc.)

#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
 
#R studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

### Removing unwanted fields

In [33]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel'],
      dtype='object')

In [34]:
#Dropping first column
df_out = df.drop(['Unnamed: 0'], axis =1)

In [35]:
df_out.to_csv('salary_data_cleaned.csv',index = False)

In [36]:
df = pd.read_csv("salary_data_cleaned.csv")